.main .title-row {
    position: relative;
}
.main h3{
  font-weight: 300;
  margin: 1em 0;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
}

.photo-list-view {
  position: relative;
}

.masonry {
  width: auto;
  height: auto;
  max-width: 100%;
}

.loading{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  transition: 0.1s ease-in-out;
  opacity: 0;
  z-index: -1;
}

  .loading.show{
    opacity: 1;
    z-index: 99;
  }

  .loading img{
    margin: 0 auto;
    display: block;
    margin-top: 180px;
  }

.bottom-loading{
  text-align: center;
  transition: 0.1s ease-in-out;
  display: none;
  margin-top: 20px;
}

  .bottom-loading.show{
    display: block;
  }
